<?xml version="1.0" encoding="utf-8" ?>
<!-- XSD manual extracted from package NLog.Schema: https://www.nuget.org/packages/NLog.Schema-->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xsi:schemaLocation="NLog NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogFile="/users/jinxu/riderProjects/logs/log/internal.log"
      internalLogLevel="Info" >

    <!-- the targets to write to -->
    <targets>
        <!-- write logs to file -->
        <target xsi:type="File" name="target1" fileName="/users/jinxu/riderProjects/logs/log/log_sender.log"
                layout="${date}|${level:uppercase=true}|${message} ${exception}" />
        <target name="Console" xsi:type="Console"  layout="${longdate} ${callsite} ${level} ${message}"/>
    </targets>

    <!-- rules to map from logger name to target -->
    <rules>
        <logger name="*" minlevel="Info" writeTo="target1" />
        <logger name="*" minlevel="Trace" writeTo="Console" />
    </rules>
</nlog>